body {
    background-color: #000;
    color: #fff;
}

.content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

section {
    padding-top: 15px;
    padding-bottom: 15px;
}

header h1 {
    font-weight: normal;
    font-size: 50px;
}

footer {
    text-align: right;
}

h1 {
    font-weight: 300;
    font-size: 42px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

p {
    font-size: 21px;
    color: gray;
}